<section id="main-content">
  <section class="wrapper">
    <div class="rows mt">
      <div class="bookflight-content">
        <div class="radio">
          <label class="radiobtn" for="domestic">Profile</label>
          <label class="radiobtn" for="international">Notifications</label>
        </div>
        <label><p class="icon"><%= image_tag "loc-icon.png", :width=>"32" %>
          <span style="margin-left: 30px;">Bangalore</span></p>
        </label>  
        <br><br>
        <label><p class="icon"><%= image_tag "num-icon.png", :width=>"32"%>
          <span style="margin-left: 30px;">+919876543210</span></p>
        </label>  
        <br><br>
        <label><p class="icon"><%= image_tag "mail-icon.png", :width=>"32"%>
          <span style="margin-left: 30px;">jhondoe@gmail.com</span></p>
        </label>  
        <br><br>
      </div>
    </div>
  </section>
</section>